* {
    box-sizing: border-box;
  }
  
.nav-item
{

    color: white;    
}

  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position: absolute;
    top: 0px;
    /*background: rgba(0, 0, 0, 0.5);*/
    /*color: #000000;*/
    width: 100%;
    padding: 0px;
  }

  
  
  #Heading
  {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #03045e;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 40px;
  }
  
  a:link
  {
      color: darkblue;
  }
  
  a:visited
  {
      color: purple;
  }
  
  #profile_pic
  {
      border-radius: 50%;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 10px;
  
  }
  
  #basic-info
  {
      padding-left: 10%;
      padding-right: 5px;
      color: rgb(0, 0, 0);
      /*background-color: #03045e;*/
      height: 100%;
  }
  
  .rows
  {
      width: 100%;
      display: flex;
      /*background: rgba(175,175,175,0.5);*/
      /*background-color: darkgray;*/
      padding: 10px;  
  }
  
  .column 
  {
      flex: 1;
      column-rule: #03045e;
      column-rule-width: 20px;
      background: rgba(98, 231, 248, 0.5);
  
      /*background-color: #ebebeb;*/
      height: 92hv;
      display: flex;
      flex-direction: column;
  }
  
  .sub-headings
  {
      padding-left: 20px;
      font-size: 20px;
      color: #03045e;
      text-decoration: underline;
  }
  
  
  .details
  {
      font-size: 20px;
  }
  
  .tab
  {
      display: inline-block;
      margin-left: 10px;
  }


  .hobbies-cards{
    padding: 2%;      /* background-color: aqua; */
      background: rgba(61, 61, 61, 0.5);
  }

  
  @media only screen and (max-width: 1000px) {
      /* For mobile phones: */
      .column
      {
          align-items: center;
  
      }
      .rows
      {
          flex-direction: column;
      }
    }
    
  